django==1.10.3
gunicorn==19.6.0
django-solo==1.1.2
sorl-thumbnail==12.3
django-dotenv==1.4.1
coloredlogs==5.0
django-jwt-auth==0.0.2
reportlab==3.3.0
unidecode==0.04.20
boardgamegeek==0.13.2
https://github.com/martinogden/django-jet/archive/master.zip