django==1.11.20
gunicorn==19.6.0
django-dotenv==1.4.1
coloredlogs==5.0
django-jwt-auth==0.0.2
reportlab==3.3.0
unidecode==0.04.20
boardgamegeek==0.13.2
wand==0.4.4
https://github.com/martinogden/django-jet/archive/master.zip