{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>24h du Jeu - Ludothèque</title>
		<link rel="icon" href="{% static 'images/favicon.ico' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.css">
	</head>
	<body>
		<div id="root"></div>
		<!--
			This HTML file is a template.
			If you open it directly in the browser, you will see an empty page.

			You can add webfonts, meta tags, or analytics to this file.
			The build step will place the bundled scripts into the <body> tag.

			To begin the development, run `npm start` in this folder.
			To create a production bundle, use `npm run build`.
		-->
        <h1>Comment supprimer vos données personnelles</h1>
        <p>
            Si vous souhaitez que nous supprimions vos données personnelles, merci de nous contacter via notre page
            Facebook: <a target="blank" href="https://www.facebook.com/24hdujeu/about/">https://www.facebook.com/24hdujeu/about/</a>
        </p>
	</body>
</html>